

/* Style du footer */
footer h5{
	font-size: 1.4em;
}


h6{
	font-size: 1.2em;
}

.brand-logo{
	margin-left: 20px ;
}

/* Mise en forme de de la pagede Login */
form{
	border: 1px transparent black ;
	margin: 80px;
	border-radius: 10px;
}


/***  Mise en forme de la page Admin ***/
/* Le menu de Navigation */
.admin header{
	border:1px solid transparent; 
	height:600px;
}

.admin-container .row{
	border: 1px solid transparent;
}

.admin header {
	margin-left:30px;
}

.admin header .row .username i{
	font-size: 4em;
	color: #B71C1C ;
}

.admin .services i, .admin .personel i, .admin .articles i, .admin .campagnes i{
	color: grey;
}

.admin-container  img{
	height: 170px;
}

/* Style du parallax */
#parallax-container{
  
  border:1px solid black; 

  /* Create the parallax scrolling effect */
  
 

}


/****** STYLE DU BLOG *****/
.blog nav ul a {
  color: #fff;
  display: inline !important;
  padding: 0 15px;
  cursor: pointer;
}

.blog nav {
  color: #fff;
  height: 0px !important;
  float: center !important;
}


/******* STYLE DE LA PAGE DACCUEIL  *******/
.overlay-container{
	background-image: url(../image/garde.jpg);
	background-size: cover; 
	height: 600px;
	width: 100%;

}

.overlay{
	background-color: rgba(127,127,127,0.7) ;
	width: 100%;
	height: 100%;
}


/* Style sur les modals */

.mod{
	z-index:3;
	display:none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgb(0,0,0);
	background-color:rgba(0,0,0,0.4)
}

.modal-content{
	margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px;
}

.mod .close{
	font-size: 3em;
	color: red;
}

.mod a{
	cursor: pointer;
}